flask==3.1.3
flask-cors==6.0.2
gunicorn==25.3.0
torch==2.10.0
transformers==5.0.0
sentence-transformers==5.4.0
chromadb==1.5.8
numpy==2.0.2
python-dotenv==1.2.2
langfuse==4.3.1
groq==1.2.0


#torch==2.10.0+cpu #torch-2.11.0
#transformers==5.0.0 #transformers-5.5.4
#sentence-transformers==5.4.0 #sentence-transformers-5.4.1
#chromadb==1.5.8 #chromadb-1.5.8
#numpy==2.0.2 #numpy-2.4.4
#langfuse==4.3.1 #langfuse-4.5.0
#python-dotenv==1.2.2 #python-dotenv-1.2.2
#flask==3.1.3 #flask-3.1.3
#flask-cors==6.0.2 #flask_cors-6.0.2
#groq==1.2.0 #groq-1.2.0
#ngrok==1.7.0
#gunicorn==25.3.0 #gunicorn-25.3.0